---
import PostHogLayout from '../layouts/PostHogLayout.astro';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<PostHogLayout>

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Rival Twin</h1>

			<p>
				Once upon a long road trip, a pair of twin siblings looked at each other. Each declared the others’ look offensive. Thus began the Eternal Conflict.
			</p>

			<p>
				<ul>
					<li>Graphic Design</li>
					<li>Corporate Identity</li>
					<li>Websites</li>
					<li>SEO</li>
				</ul>
			</p>
		</main>
		<Footer />
	</body>
</html>

</PostHogLayout>